*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 300px;
    height: 450px;
}
.container{
    display: flex;
    width: 600px;
    height: 450px;
}
.sx{
    width: 50%;
    height: auto;
    border-radius: 10px 0 0 10px;
}
.dx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
    border-radius: 0 10px 10px 0;
    background-color: antiquewhite;
    padding: 20px;
}
.button > button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    border-radius: 15px;
    padding: 10px 30px;
    color: #fff;
    width: 80%;

}
button > img{
    width: 10%;
    height: 10%;
}
@media screen and (max-width: 375px){
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }
    .sx{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .dx{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        border-radius: 0 0 10px 10px;
    }
    
}